/* Variables */

:root {
  font-size: 62.5%;
  --dark-black: #121723;
  --light-black: #292E39;
  --text-gray: #A1A6B4;
  --shade-gray: #D2D5DD;
  --light-color: #E6E8EC;
  --promo-color: #F0D288;
  --promo-color-shade: #BB973E;
  --red: #D52B1E;
  --primary: #6D31EE;
  --primary-shade: #4F28A5;
  --primary-light: #AA9DFA;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Fonts */

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local('Muller-Regular'),
       url('../fonts/MullerRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MullerRegular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Muller-Medium'),
       url('../fonts/MullerMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MullerMedium.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Muller Regular Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Muller-RegularItalic'),
       url('../fonts/MullerRegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MullerRegularItalic.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Muller Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Muller-Bold'),
       url('../fonts/MullerBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MullerBold.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Muller Light Italic';
  font-style: normal;
  font-weight: 300;
  src: local('Muller-LightItalic'),
       url('../fonts/MullerLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MullerLightItalic.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Regular'),
       url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans-Regular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/* Globals */

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #FFF;
  overflow-x: hidden;
}


.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.btn-reset {
  padding: 0;

  font-size: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section, .outer {
  width: 100vw;
}

.section__inner, .inner {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  padding-top: 94px;
}

/* Header */

.header {
  flex-direction: column;
}

.header__container {
  width: 100vw;
  box-shadow: inset 0 -1px 0 0 var(--light-color);
}

.header__container--top {
  height: 80px;
}

.header__container--bottom {
  height: 60px;
}

.nav {
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  vertical-align: bottom;
}

.links {
  max-width: 638px;
  padding: 0;

  justify-content: space-between;
  flex-grow: 1;
}

.links__link {
  font-size: 2rem;
  line-height: 2rem;
  text-decoration: none;

  color: var(--dark-black);
}

.buttons {
  max-width: 152px;

  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.buttons__login {
  max-height: 40px;
  max-width: 104px;
  padding: 11px 32px;

  border: 2px solid var(--dark-black);
  border-radius: 77px;

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.nav--bottom {
  justify-content: flex-start;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.links__link--bottom {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.links--bottom {
  max-width: 611px;
}

.players {
  flex-grow: 1;
  max-width: 350px;
}

.player {
  display: flex;
  flex-grow: 1;
  align-items: center;

  max-width: 174px;

  border-left: 1px solid var(--light-color);
}

.player:last-child {
  border-right: 1px solid var(--light-color);
}

.player__left {
  font-size: 0;
  margin-right: 10px;
  padding-left: 12px;
}

.player__title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 400;

  font-size: 1.2rem;
  line-height: 1.2rem;

  color: var(--text-gray);
}

.player__subtitle {
  font-size: 1.6rem;
  line-height: 1.6rem;

  color: var(--dark-black);
}

.age {
  height: 100%;
  min-width: 46px;

  justify-content: center;
  align-items: center;

  background-color: var(--light-color);
}

.age__text {
  padding: 7px 4.5px;

  font-family: 'Open Sans';
  font-size: 1.2rem;
  line-height: 1.6rem;

  border-radius: 100px;

  color: var(--text-gray);

  background-color: white;
}

/* Hero */

.hero {
  padding-bottom: 95px;
  background: url(/img/microphone.jpg);
  background-position: right 20px top 30px;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 635px;
}

.hero__title {
  margin-bottom: 14px;

  font-family: 'Muller Bold';
  font-weight: 700;
  font-size: 6rem;
  line-height: 100%;

  color: var(--dark-black);
}

.hero__title--italic {
  font-family: 'Muller Regular Italic';
  font-weight: 400;
}

.hero__text {
  margin-bottom: 45px;

  font-size: 1.6rem;
  line-height: 150%;

  color: var(--dark-black);
}

.hero__btn {
  padding: 25px 54px;

  font-weight: 500;
  font-size: 2rem;
  line-height: 20px;

  border-radius: 40px;

  color: white;
  background-color: var(--primary);
}

/* Podcasts */

.podcasts {
  background-color: var(--light-color);
}

.podcasts__title {
  margin-bottom: 30px;

  font-size: 4.8rem;
  line-height: 100%;
  font-weight: 400;
}

.podcasts__container {
  width: 100%;
  flex-wrap: wrap;
}

.podcasts__item {
  min-height: 140px;
  max-width: 540px;
  flex-grow: 1;
}

.podcasts__item:nth-child(2n-1) {
  margin-right: 30px;
}

.podcasts__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.podcast-card {
  background-color: white;
}

.podcast-card__left {
  position: relative;
}

.podcast-card__date {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 3px 6px;

  font-weight: 400;
  font-size: 1rem;
  line-height: 10px;

  background-color: var(--light-color);
  color: var(--dark-black);
}

.podcast-card__right {
  width: 100%;
  flex-direction: column;
}

.podcast-card__player {
  justify-content: space-between;
  padding: 24px 30px;

  border-bottom: 1px solid var(--light-color);
}

.podcast-card__desc {
  flex-direction: column;
}

.podcast-card__time {
  display: block;
  margin-bottom: 8px;

  font-size: 1.2rem;
  line-height: 1.2rem;

  color: var(--dark-black);
}

.podcast-card__title {
  margin-bottom: 4px;

  font-size: 2rem;
  line-height: 2rem;

  color: var(--dark-black);
}

.podcast-card__author {
  font-size: 1.6rem;
  line-height: 1.6rem;

  color: var(--text-gray);
}

.podcast-card__stats {
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-left: 30px;
}

.stat-btn:not(:last-child) {
  margin-right: 30px;
}

.stat-btn__icon {
  margin-right: 6px;
}

.stat-btn__text {
  font-size: 16px;
  line-height: 16px;

  color: var(--text-gray);
}



